<% provide :title, t("home") %>
<style type="text/css">
  div#image-list img {border-radius: 10%;}
</style>

<h1>
  <%= image_tag("ks.jpg", alt: "ks", width: "100%") %>
</h1>

<h2>
  <b><%= t "top" %></b>
</h2>

<div class="container">

  <div class="row" id="image-list">
      <% @hotel.each do |t| %>
    <div class="col-md-3 col-sm-6">
      <%= image_tag t.image.to_s, width: "100%" %>
      <p><%= t.name %></p>
      <p><%= t.address%></p>
      <p><%= link_to "Xem phòng", show_room_path(id: t.id) %></p>
    </div>
    <% end %>

  </div>
</div>
