<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t "room_name" %></th>
      <th scope="col"><%= t "description" %></th>
      <!-- <th scope="col">Status</th> -->
      <th scope="col"><%= t "image" %></th>
    </tr>
  </thead>
  <tbody>
    <% @room.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.description %></td>
      <!-- <td><%= t.status %></td> -->
      <td><%= image_tag t.image_url.to_s, class:"fixsize" %></td>
      <td>
        <%= link_to t("Đặt phòng"), "#", class:"btn btn-success" %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
