<%= link_to t("new_hotel"), new_hotel_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t "hotel_name" %></th>
      <th scope="col"><%= t "description" %></th>
      <th scope="col"><%= t "star_level" %></th>
      <th scope="col"><%= t "address" %></th>
      <th scope="col"><%= t "image" %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @hotel.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.description %></td>
      <td><%= t.starLevel %></td>
      <td><%= t.address %></td>
      <td><%= image_tag t.image_url.to_s, class:"fixsize" %></td>
      <td>
        <%= link_to t("edit"), edit_hotel_path(t), class:"btn btn-primary" %>
        <%= link_to t("delete"), hotel_path(t), class:"btn btn-danger",
              method: :delete, data: { confirm: t("you_sure") } %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
