<!-- <div class="jumbotron">
  <p class="display text-center">New Hotel</p>
</div> -->
<% provide :title, t("new_hotel") %>
<h1><%= t "new_hotel" %></h1>
<p>
<%= form_with scope: :hotel, url: hotels_path, local: true do |form| %>
  <%= render 'error' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <p>
      <%= form.label :name, t("name_hotel") %><br>
      <%= form.text_field :name, class:"form-control" %>
    </p>
    <p>
      <%= form.label :description, t("description") %><br>
      <%= form.text_area :description, class:"form-control"%>
    </p>
    <p>
      <%= form.label :starLevel, t("star_level") %><br>
      <%= form.text_field :starLevel, class:"form-control" %>
    </p>
    <p>
      <%= form.label :address, t("address") %><br>
      <%= form.text_field :address, class:"form-control" %>
    </p>
    <p>
      <%= form.label :image, t("image") %>
      <%= form.file_field :image %>
    </p>
    <p>
      <%= form.submit t("create_hotel"), class: "btn btn-primary" %>
    </p>

  <% end %>
    </div>
  </div>
