<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.jpg", alt: "logo", :size => "40x40"), root_path, id: "logo" %>

    <div class="col-md-3"> 
     <div class="search-box"> 
      <form class="search-form" action="#"> <input class="form-control" type="text" id: "search"></form> 
     </div> 
    </div> 
    <div class="col-md-3">
     <button class="btn btn-link search-btn"> <i class="glyphicon glyphicon-search"></i> 
      </button>
    </div>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("sign_up"), "#" %></li>
        <li><%= link_to t("log_in"), "#" %></li>
        <li><%= link_to t("english"), locale: "en" %></li>
        <li><%= link_to t("vietnamese"), locale: "vi" %></li>
       
      </ul>
    </nav>
  </div>
</header>
